body {
    font-family: monospace;
    background-color: #000; /* Black background */
    color: #FFF; /* White foreground text */
    margin: 0;
    padding: 20px;
  }
  
  .terminal {
    border: 2px solid black; /* black border */
    padding: 10px;
    border-radius: 4px;
    background-color: inherit; /* Inherit black background from body */
    color: inherit; /* Inherit white text color from body */
  }
  
  .header {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .intro {
    margin-bottom: 5px;
  }
  
  .prompt {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .user,
  .input {
    color: inherit; /* Inherit white text color */
    font-weight: bold;
    background-color: transparent;
    border: none;
    outline: none;
  }
  
  .input {
    flex-grow: 1; /* Allow input field to grow horizontally */
  }
  
  .output p { /* Style output text paragraphs */
    color: inherit; /* Inherit white text color */
  }
  
  /* New color styles */
  .user::before { /* Target text before username (--) */
    content: "--";
    color: #393; /* Lime green for "--" symbol */
    font-weight: bold;
  }
  
