@media(max-width:1024px){
    .hamburger{
        display: block;
    }
    
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    
    .nav-item{
        margin: 16px 0;
    }
    
    .nav-menu.active{
        left: 0;
    }
    }

    /* HOLY GRAIL FLEX BOX */
    .flexbox {
        display: flex;
        min-height: 100vh;
        color: black;
    }
    
    .flexbox article {
        flex: 1 1 auto; /* Set flex to 1 1 auto */
        background-color: #e4e2ef;
        text-align: center;
    }
    
    .flexbox article img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .flexbox article p {
        display: block;
        text-align: left;
        font: 2rem sans-serif;
        margin: 1rem;
    }
    
    .flexbox nav {
        order: -1;
        width: 20%;
        flex: 1 1 5;
    }
        